<h1>Minha tela de play list</h1>
<p>-------------------</p>
<audio *ngIf="urlPlayTrack" controls>
  <source src="{{urlPlayTrack}}" type="audio/ogg">
  <source src="{{urlPlayTrack}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<p>-------------------</p>
<div class="container">
  <div *ngFor="let album of listAlbum">
    <div class="container-album" (click)="onClickPayAlbum(album)">
      <img src={{album.images[0].url}} alt="Imagem Álbum">
      <div class="container-image-play">
        <img class="image-play" src="assets/icon-play.png" alt="Imagem Play">
      </div>
      <p class="album-name">{{album.name}}</p>
      <p class="album-artists">{{concatenateNameArtists(album)}}</p>
    </div>
  </div>
</div>
