<h1>Minha tela de play list</h1>
<p>Paragrafo</p>
<p>Quantidade de itens: {{listAlbum.length}}</p>
<p>Nome do primeiro item: {{listAlbum[0].name}}</p>
<p>-------------------</p>
<div class="container">
  <div *ngFor="let album of listAlbum">
    <div class="container-album" (click)="onClickPayAlbum(album)">
      <img src={{album.images[0].url}} alt="Imagem Álbum">
      <div class="container-image-play">
        <img class="image-play" src="assets/icon-play.png" alt="Imagem Play">
      </div>
      <p class="album-name">{{album.name}}</p>
      <p class="album-artists">{{concatenateNameArtists(album)}}</p>
    </div>
  </div>
</div>
