<app-audio [urlPlayTrack]="urlPlayTrack" />
<div class="container">
  <div *ngFor="let album of listAlbum">
    <div class="container-album" (click)="onClickPayAlbum(album)">
      <img src={{album.images[0].url}} alt="Imagem Álbum">
      <div class="container-image-play">
        <img class="image-play" src="assets/icon-play.png" alt="Imagem Play">
      </div>
      <p class="album-name">{{album.name}}</p>
      <p class="album-artists">{{concatenateNameArtists(album)}}</p>
    </div>
  </div>

  <div *ngIf="listAlbum.length === 0">
    <p class="message-error">Não há músicas disponíveis para exibição no Spotify. Por
      favor, verifique se você está logado e tente novamente.</p>
    <img class="error-image" src="assets/img-login-error.png" alt="Imagem de erro">
    <a href="https://storyset.com/online">Online illustrations by Storyset</a>
  </div>

</div>
