.container {
  justify-items: center;
  /* text-align: center; */
  align-items: center;
}

form {
  width: 25%;
  margin: auto;
}

.container-button-social {
  justify-content: center;
  display: grid;
}

.container-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.container-image{
  text-align: center;
}

.image-logo {
  width: 150px;
  margin: 30px;
}

h2{
  margin-bottom: 40px;
  text-align: center;
}

.finish-line {
  display: flex;
  width: 25%;
  text-align: center;
  margin: 20px auto 30px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

hr {
  flex-grow: 1;
}

.finish-line-text{
  margin: 0 10px;
}

.label {
  display: grid;
  justify-items: start;
  font-weight: 600;
  margin: 20px 0;
}

.container-checkbox-button {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.small-text{
  margin: 20px 5px;
  font-size: 8pt;
  text-align: center;
}

.container-radio-button{
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-button-submit{
  text-align: center;
}

/* RESPONSIVE  */

@media (max-width: 1690px) {
  form {
    width: 50%;
  }
  .finish-line {
    width: 70%;
  }

}

@media (max-width: 1706px) {
  form {
    width: 80%;
  }
}
