<div class="page">
  <section class="card-image-glow">
    <h2>Desenvolvimento da Aplicação Spotify</h2>
    <h4>Recupere Metadados, Controle a Reprodução ou Obtenha Recomendações</h4>
    <p class="text-card">Iniciei este projeto com o objetivo de criar um clone do site do Spotify. Entretanto, durante o desenvolvimento, o site oficial do Spotify passou por uma atualização de design, resultando na perda da referência de estilização original. Para evitar reiniciar o projeto, continuei o desenvolvimento implementando o design da tela de uma maneira que difere do site oficial.</p>
  </section>

  <section>
    <h3>Configuração Inicial</h3>
    <p>O início do projeto ocorreu por meio da execução do comando 'ng new spotify', utilizado para criar um novo projeto Angular através do Angular CLI. Na atual configuração, o Angular está na versão 15.2.0, e o Node encontra-se na versão 20.9.0.</p>
  </section>

  <section>
    <h3>Motivação</h3>
    <p>A motivação que impulsionou a concepção deste projeto emergiu da valiosa oportunidade de consolidar e aplicar os conhecimentos adquiridos durante o curso oferecido pela Alura. Este processo envolveu a prática intensiva de conceitos fundamentais, tais como a elaboração e gestão de rotas, a implementação de sistemas robustos de autenticação, e o hábil manejo na interação com APIs que demandam processos de autenticação especializados.</p>
  </section>

  <section>
    <h3>Referência da API</h3>
    <p>A documentação da API seguida foi a oficial do Spotify, disponível no link <a href="https://developer.spotify.com/documentation/web-api">https://developer.spotify.com/documentation/web-api</a>.</p>
  </section>

  <section>
    <h3>Exemplos</h3>
    <p>A URL do Frontend está acessível através do link <a href="XPTO">XPTO</a>, e o código-fonte pode ser encontrado em <a href="https://github.com/KevenBarauna/Spotify">github</a>.</p>
  </section>

</div>
