<div class="page">

  <div class="first-background">
    <div class="background-image">
      <div class="content-first-background">
        <img class="imagem-cell" src="assets/img-changeable-home-cell.png" alt="Tema">
        <p class="title-first-background">Escute milhões de músicas e podcasts de graça.</p>
      </div>
    </div>
  </div>

  <div class="second-background">
    <p class="title-second-background">Por que escolher o Spotify?</p>
    <div class="card-container">
      <div class="card">

        <div class="card-image card-image-first"></div>
        <p class="card-title">Ouça suas favoritas.</p>
        <p class="card-description">Ouça suas músicas prediletas e descubra novas músicas e podcasts.</p>
      </div>

      <div class="card">
        <div class="card-image card-image-second"></div>
        <p class="card-title">Playlists mais fáceis de usar.</p>
        <p class="card-description">Vamos te ajudar a criar playlists. Ou você pode curtir playlists criadas por
          especialistas em música.</p>
      </div>

      <div class="card">
        <div class="card-image card-image-third"></div>
        <p class="card-title">Do jeitinho que você gosta.</p>
        <p class="card-description">Conte pra gente o que você gosta de ouvir, e nós vamos recomendar músicas para você.
        </p>
      </div>

      <div class="card">
        <div class="card-image card-image-fourth"></div>
        <p class="card-title">Economize seu pacote de dados.</p>
        <p class="card-description">Para consumir menos dados ao ouvir música, ative a Economia de dados em
          Configurações.</p>
      </div>

    </div>
  </div>

  <div class="third-background">
    <div class="title-third-background">
      <p>É grátis.</p>
      <p>Não precisa de cartão de crédito.</p>
    </div>
  </div>

  <div class="second-background">
    <div class="containerTree">
      <p class="title-fourth-background">Alguma dúvida?</p>

      <ul id="tree-view">
        <li><span id="id-first-tree-view" class="icon-tree-view" (click)="openTreeView('id-first-tree-view', 'first-tree-view')">Como faço para criar uma playlist?</span>
          <ul id="first-tree-view" style="visibility: hidden; display: none">
            <p class="item-tree text-tree">As playlists são uma ótima maneira de criar coleções de músicas, seja para só você ouvir ou para
            compartilhar.</p>
            <p class="item-tree text-tree">Para criar uma:</p>
            <ol>
              <li class="item-tree">Clique na “Sua Biblioteca”.</li>
              <li class="item-tree">Clique em CRIAR.</li>
              <li class="item-tree">Dê um nome para a playlist.</li>
              <li class="item-tree">Comece a incluir algumas músicas (enquanto recomendamos outras).</li>
            </ol>

          </ul>
        </li>
      </ul>

      <ul id="tree-view">
        <li><span id="id-second-tree-view" class="icon-tree-view" (click)="openTreeView('id-second-tree-view', 'second-tree-view')">Como faço para ativar o modo de Economia de dados?</span>
          <ul id="second-tree-view" style="visibility: hidden; display: none">
            <ol>
              <li class="item-tree">Clique em Início.</li>
              <li class="item-tree">Clique em Configurações.</li>
              <li class="item-tree">Clique em Economia de dados.</li>
              <li class="item-tree">Ative a “Economia de dados”.</li>
            </ol>

          </ul>
        </li>
      </ul>

      <ul id="tree-view">
        <li><span id="id-third-tree-view" class="icon-tree-view" (click)="openTreeView('id-third-tree-view', 'third-tree-view')">Só é possível ouvir música em ordem aleatória?</span>
          <ul id="third-tree-view" style="visibility: hidden; display: none">
            <p class="item-tree text-tree">As playlists com o ícone de ordem aleatória tocam dessa forma.</p>
            <p class="item-tree text-tree">Nas playlists que não têm esse ícone, você pode clicar em qualquer música para ouvir.</p>
          </ul>
        </li>
      </ul>

      <ul id="tree-view">
        <li><span id="id-fourth-tree-view" class="icon-tree-view" (click)="openTreeView('id-fourth-tree-view', 'fourth-tree-view')">Onde posso encontrar podcasts?</span>
          <ul id="fourth-tree-view" style="visibility: hidden; display: none">
            <p class="item-tree text-tree">Clique em Buscar. Em Navegar por todas as seções, clique em Podcasts.</p>
          </ul>
        </li>
      </ul>

    </div>
  </div>

  <div class="first-background">
    <div class="background-image">
      <div class="content-first-background">
        <p class="title-fifth-background">Gostou? Então aperte o play.</p>
      </div>
    </div>
  </div>

</div>
