.imagem-cell {
  height: 400px;
  margin-left: 25%;
  margin-right: 20px;
  padding: 5px;
}

.page {
  text-align: center;
  font-weight: 600;
  font-size: 40pt;
}

.first-background {
  height: 420px;
  background: rgb(108, 14, 224);
  background: linear-gradient(90deg, rgba(108, 14, 224, 1) 0%, rgba(240, 55, 166, 1) 100%);
}

.second-background {
  height: 500px;
  background: var(--body);
}

.third-background {
  height: 500px;
  background: rgb(108, 14, 224);
  background: linear-gradient(0deg, rgba(108, 14, 224, 1) 0%, rgba(240, 55, 166, 1) 100%);
}

.background-image {
  height: 420px;
  background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat,transparent;
  background-position: center -138px;
  background-repeat: no-repeat;
}

.title-second-background {
  margin-top: 50px;
}

.title-third-background {
  margin: auto;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 11%;
}

.title-first-background {
  width: 30%;
  color: #FFFFFF;
  text-align: left;
  margin-top: 5%;
}

.content-first-background {
  display: flex;
}

/* CARD */

.card-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  width: 70%;
}

.card {
  width: 300px;
  height: 250px;
  margin: auto;
  padding: 20px;
}

.card-title {
  margin: 20px auto 5px auto;
  font-size: 17pt;
}

.card-description {
  font-size: 11pt;
  font-weight: 500;
  margin: 20px auto 5px auto;
}

.card-image {
  height: 100px;
  width: 100px;
  background-repeat: round;
  margin: auto;
}

.card-image-first {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57");
}

.card-image-second {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66");
}

.card-image-third {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d");
}

.card-image-fourth {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc");
}

.title-fourth-background {
  margin-top: 50px;
}

.title-fifth-background{
  color: #FFFFFF;
  padding-top: 5%;
  text-align: center;
  margin: auto;
}

/* TREE VIEW */

.containerTree{
  width: 90%;
  margin: auto;
}

ul, #tree-view {
  list-style-type: none;
}

span{
  font-size: 15pt;
  width: 95%;
  display: flex;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid black;
  transition: all 0.2s ease-in-out;
}

span:hover{
  background-color: var(--input-background-hover);
}

.item-tree{
  font-size: 13pt;
  font-weight: 500;
  text-align: initial;
  padding: 0;
  margin: 0;
}

.text-tree{
  margin-bottom: 20px;
}

.icon-tree-view {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.icon-tree-view::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.icon-tree-view-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.active {
  display: block;
}
