.container {
  height: 84.8vh;
  background-color: var(--color-background-album);
  text-align: center;
}

.imageGhost{
  height: 200px;
  padding: 50px;
  animation-name: movementGhost;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.imagem-container{
  min-height: 300px;
  max-height: 300px;
}

.title{
  color: var(--color-wite);
  font-size: 28pt;
  margin: 5px;
}

.description{
  color: var(--color-wite);
  font-size: 15pt;
  margin: 8px;
}

.container-text{
  margin-top: 150px;
}

.container-refImage{
  margin-top: 150px;
}

@keyframes movementGhost {
  0% {
    margin-top: 15px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: 15px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 15px;
  }
}
