<div class="container">
  <div class="imagem-container">
    <img class="imageGhost" src="assets/ghost.png" alt="404">
  </div>
  <div class="container-text">
    <p class="title">Whoops!</p>
    <p class="description">Não foi possível encontrar a página que você estava procurando</p>
  </div>
  <div class="container-refImage">
    <a class="refImage" href="https://codepen.io/nelsonleite/details/Xdpqyb" title="ghost">Inspiração da página</a>
    <a class="refImage" href="https://www.flaticon.com/free-icons/ghost" title="ghost icons">Ghost icons created by Good
      Ware - Flaticon</a>
  </div>
</div>
