:root{
  --primary: #1DB954;
  --body: #FFFFFF;
  --text-menu:#212121;
  --text-body: #212121;
  --text-menu-bold:#121212;
  --text-body-bold: #121212;
  --color-gray: #979797;
}

:root .dark-theme{
  --primary: #1DB954;
  --body: #212121;
  --text-menu:#e7e7e7;
  --text-body: #e7e7e7;
  --text-menu-bold:#FFFFFF;
  --text-body-bold: #FFFFFF;
  --color-gray: #979797;
}

body{
  background-color: var(--body);
}
